* {
    box-sizing: border-box;
    margin: 0px;
}

html, body {
    width: 100%;
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.wrapper__header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 30px;
}

.wrapper__title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__title {
    color: #55B2D4;
    font-size: 15px;
    font-weight: 700;
}

.header__subtitle {
    font-size: 8px;
    font-weight: 700;
    font-family: 'SciFiedBitmap';
    margin-left: 5px;
    padding-top: 2px;
}

.wrapper__header__line {
    width: 100%;
    border: 1px solid rgb(182, 182, 182);
}

.game_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 222px;
    height: 168px;
    border: 1px solid gray;
    border-radius: 15px;
    padding: 20px;
    background-color: #f6f6f6;
}

.game__title {
    font-size: 15px;
    font-weight: 900;
    font-family: 'Malgun Gothic';
}

.game__subtitle {
    font-size: 11px;
    color: #999999;
    font-family: 'Malgun Gothic';
}

.word__result {
    font-size: 11px;
    font-weight: 700;
    color: #999999;
}

.word__text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.textbox {
    width: 130px;
    height: 24px;
    border-radius: 5px;
    border: 1px solid black;
}

.search {
    width: 44px;
    height: 24px;
    font-size: 11px;
    font-weight: 700;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #ffffff;
}

.lotto__box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 130px;
    height: 21px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #FFE400;
}

.lotto__number {
    font-size: 10px;
    font-weight: 700;
}

.lotto__create {
    width: 62px;
    height: 24px;
    font-weight: 700;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #ffffff;
}

@font-face {
    font-family: 'PFStardust';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/PFStardust.woff') format('woff');
}

@font-face {
    font-family: 'MalgunGothic'; 
    src: url(../fonts/MalgunGothic.eot);
}

@font-face {
    font-family: 'SciFiedBitmap'; 
    src: url(../fonts/scifibit.ttf);
}

.search:hover {
    background-color: #c4c4c4;
}

.lotto__create:hover {
    background-color: #c4c4c4;
}